/* Banner */
.banner {
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/montage_photo.jpg");
  background-size: cover;
  background-position: center;
}
.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* logiciel section */
.logiciel {
  background-image: url("./assets/capcut_image.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.logiciel h2 {
  color: #fff;
  text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.4);
}

.logiciel p {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.logiciel a {
  color: #f4f4f9;
}
.logiciel a:hover {
  color: #0078ff;
}

#contact h2 {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .banner {
    height: 40vh;
  }
  .banner video {
    display: none;
  }
  #projets .video-item {
    padding-bottom: 30px;
  }
  .logiciel {
    background-position: top;
  }
}
