/* Style de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #1e1e2f;
  text-align: center;
}
a:hover {
  color: #0078ff;
  text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f9;
}

/* Header */
header {
  background-color: #292929;
  color: #f9f9f9;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-logo img {
  max-width: 50px; /* Adjust the size as needed */
  height: auto;
}
header h1 {
  font-size: 28px;
  letter-spacing: 2px;
  text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.4);
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px;
}
header nav ul li {
  margin: 0 20px;
}
header a {
  color: #f9f9f9;
}

h2 {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding: 50px 0 20px;
}

section {
  min-height: 500px;
  border-bottom: 2px solid #333;
}
/* projets section */
.projets {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.projets h2 {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.video-type-container {
  width: 100%;
  margin-bottom: 40px;
}

.video-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Style de chaque vidéo */
.video-item {
  position: relative;
  width: 200px;
  transition: transform 0.3s ease;
}

.video-item:hover {
  transform: scale(1.05);
}

.video-thumbnail {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.video-thumbnail:hover {
  opacity: 0.8;
}
/* exception animation a */
.video-item a:after,
#payment a:after,
footer a:after {
  content: none; /* Remove the pseudo-element */
}

/* REEL INSTA */
.video-item a img {
  height: 150px;
  object-fit: contain;
}
/* ANIMATION LINK */
a {
  color: #2f56b0;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

a:hover {
  color: #457dfb;
  right: 0;
  text-decoration: none;
}

a:hover:after {
  border-color: #457dfb;
  right: 0;
}

a:after {
  border-radius: 1em;
  border-top: 0.1em solid #2f56b0;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

a:hover:after {
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
  border-color: #457dfb;
}

@keyframes anchor-underline {
  0%,
  10% {
    left: 0;
    right: 100%;
  }
  40%,
  60% {
    left: 0;
    right: 0;
  }
  90%,
  100% {
    left: 100%;
    right: 0;
  }
}
/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  /*   background: rgba(0, 0, 0, 0.5); */
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 80%;
  height: 75%;
}

.modal-content iframe.youtube {
  width: 100%;
  height: -webkit-fill-available;
}
.modal-content iframe.short {
  width: 50%;
  height: -webkit-fill-available;
}
.close-button {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #ff4b4b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-button:hover {
  background-color: #ff1f1f;
}

footer {
  min-height: 200px;
}
/* CONTACT */
#contact {
  background-color: #f9f9f9;
  padding: 10px 0 50px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

form textarea {
  resize: vertical;
  height: 100px;
}

form button {
  background-color: #f6922a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}

form button:active {
  background-color: #ff4500;
  transform: scale(0.95);
}
/* payment  */
#payment {
  background-color: #f9f9f9;
  padding: 20px;
}
#payment h2 {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
#payment a img {
  max-width: 400px;
}

footer a {
  margin: 50px;
}
/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header nav ul {
    justify-content: center;
  }
  section {
    min-height: 400px;
  }
  .video-container {
    padding: 20px;
  }

  .video-item {
    width: 100%;
  }
  .modal-content iframe.short,
  .modal-content iframe.youtube {
    width: 90%;
  }
}
