/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

main {
  padding: 2rem;
}
.container-logo img {
  width: 50px;
}
section.mentions-legales {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
}

section.mentions-legales h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

section.mentions-legales p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

section.mentions-legales a {
  color: #0078ff;
  text-decoration: none;
}

section.mentions-legales a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}
